@keyframes shift {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

@keyframes shift-1 {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

.svg {
  overflow: visible !important;
}

.companyName {
  font-family: AvenirNextDemiBold, Roboto, sans-serif;
  font-size: 400px;
  font-weight: bold;
  letter-spacing: -5px;
  pointer-events: none;
}

.root {
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

.knockout {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.shift {
  animation-name: shift;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
}

.columns {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
}

.rect {
  background-color: #191919;
  will-change: transform;
  width: 33.333vw;
  height: 100vh;
}

.rect:nth-child(3) {
  width: 36vw;
}

.rect-1 {
  height: 100;
  transform: translateY(100%);
  fill: #fff;
  will-change: transform;
}
